@import url(./base/reset.css);
@import url(./base/base.css);
@import url(./base/animation.css);

@import url(./cmps/header.css);
@import url(./cmps/footer.css);
@import url(./cmps/splash.css);
@import url(./cmps/dialog.css);
@import url(./cmps/mult-table.css);



.broken,
.explode {
    display: none;
    width: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 25%
}