*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    text-wrap: balance;
}

p {
    margin: 0 0 1em;
    text-wrap: pretty;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video,
canvas,
picture,
svg {
    display: block;
    max-width: 100%;
}

input,
select,
textarea,
button {
    font: inherit;
    max-width: 100%;
}